<header class="header">
    <div class="container-fluid">
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle"
              data-toggle="collapse"
              data-target=".navbar-responsive-collapse"
            >
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a routerLink="" class="navbar-brand">
             <!-- <i class="material-icons">announcement</i>  --><span id="logo">WhatsAppGroup?</span>
            </a>
          </div>
          <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
              <li class="active">
                <a routerLink="" >Ana Sayfa</a>
              </li>
              <li>
                <a routerLink="list">Gruplar</a>
              </li>
              <li>
                <a href="topics.html">Topics</a>
              </li>
              <li>
                <a href="forums.html">Forums</a>
              </li>
              <li>
                <a href="documentation.html">Documentation</a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="#" data-toggle="modal" data-target="#LoginModal">
                  <i class="material-icons">lock</i> Client Login
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>