@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.site-search {
    padding-bottom: 0 !important;
}

.widget {
    margin-bottom: 30px;
}

.tp-form {
    min-width: 150px;
    width: 100%;
 }
 .tp-full-width {
    width: 100%;
 }