<section class="section welcome bg1">
    <div class="container">
      <div class="row">
        <div class="content col-md-8">
          <div class="welcome-text">
            <h1>
              <strong>WhatsApp</strong> gruplarını bulun, oluşturun, paylaşın.
            </h1>
            <p>Çeşitli konularda/sektörlerde daha önce oluşturulmuş WhatsApp gruplarını bulun ve ya siz oluşturun.</p>
            <a class="btn btn-raised btn-info gr" (click)="addButton()" href="javascript:void(0)">
              <i class="material-icons">add</i>HEMEN Oluştur
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>