<section class="section lb">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="widget">
                    <div class="custom-module">
                        <h4 class="module-title"><i class="material-icons">Yazılım</i> (21)</h4>
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="row-content">
                                    <p class="list-group-item-heading"><a href="#">How to install WordPress?</a></p>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row-content">
                                    <p class="list-group-item-heading"><a href="#">Creating your first database / mysql</a></p>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row-content">
                                    <p class="list-group-item-heading"><a href="#">Installation theme via FTP</a></p>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row-content">
                                    <p class="list-group-item-heading"><a href="#">Installation of the necessary add-ons</a></p>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row-content">
                                    <p class="list-group-item-heading"><a href="#">Import demo content like our demo</a></p>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="readmore" title="">tümünü gör →</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="widget">
                    <div class="custom-module">
                        <h4 class="module-title"><i class="material-icons">Grafik Tasarım</i> (33)</h4>
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="row-content">
                                    <p class="list-group-item-heading"><a href="#">How to install WordPress?</a></p>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row-content">
                                    <p class="list-group-item-heading"><a href="#">Creating your first database / mysql</a></p>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row-content">
                                    <p class="list-group-item-heading"><a href="#">Installation theme via FTP</a></p>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row-content">
                                    <p class="list-group-item-heading"><a href="#">Installation of the necessary add-ons</a></p>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row-content">
                                    <p class="list-group-item-heading"><a href="#">Import demo content like our demo</a></p>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="readmore" title="">tümünü gör →</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="widget">
                    <div class="custom-module">
                        <h4 class="module-title"><i class="material-icons">Fotoğrafçılık</i> (24)</h4>
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="row-content">
                                    <p class="list-group-item-heading"><a href="#">How to install WordPress?</a></p>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row-content">
                                    <p class="list-group-item-heading"><a href="#">Creating your first database / mysql</a></p>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row-content">
                                    <p class="list-group-item-heading"><a href="#">Installation theme via FTP</a></p>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row-content">
                                    <p class="list-group-item-heading"><a href="#">Installation of the necessary add-ons</a></p>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row-content">
                                    <p class="list-group-item-heading"><a href="#">Import demo content like our demo</a></p>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="readmore" title="">tümünü gör →</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="widget">
                    <div class="custom-module">
                        <h4 class="module-title"><i class="material-icons">Kamu</i> (9)</h4>
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="row-content">
                                    <p class="list-group-item-heading"><a href="#">How to install WordPress?</a></p>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row-content">
                                    <p class="list-group-item-heading"><a href="#">Creating your first database / mysql</a></p>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row-content">
                                    <p class="list-group-item-heading"><a href="#">Installation theme via FTP</a></p>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row-content">
                                    <p class="list-group-item-heading"><a href="#">Installation of the necessary add-ons</a></p>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row-content">
                                    <p class="list-group-item-heading"><a href="#">Import demo content like our demo</a></p>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="readmore" title="">tümünü gör →</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="widget">
                    <div class="custom-module">
                        <h4 class="module-title"><i class="material-icons">Kamu</i> (9)</h4>
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="row-content">
                                    <p class="list-group-item-heading"><a href="#">How to install WordPress?</a></p>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row-content">
                                    <p class="list-group-item-heading"><a href="#">Creating your first database / mysql</a></p>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row-content">
                                    <p class="list-group-item-heading"><a href="#">Installation theme via FTP</a></p>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row-content">
                                    <p class="list-group-item-heading"><a href="#">Installation of the necessary add-ons</a></p>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row-content">
                                    <p class="list-group-item-heading"><a href="#">Import demo content like our demo</a></p>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="readmore" title="">tümünü gör →</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="widget">
                    <div class="custom-module">
                        <h4 class="module-title"><i class="material-icons">Kamu</i> (9)</h4>
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="row-content">
                                    <p class="list-group-item-heading"><a href="#">How to install WordPress?</a></p>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row-content">
                                    <p class="list-group-item-heading"><a href="#">Creating your first database / mysql</a></p>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row-content">
                                    <p class="list-group-item-heading"><a href="#">Installation theme via FTP</a></p>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row-content">
                                    <p class="list-group-item-heading"><a href="#">Installation of the necessary add-ons</a></p>
                                </div>
                            </div>
                            <div class="list-group-item">
                                <div class="row-content">
                                    <p class="list-group-item-heading"><a href="#">Import demo content like our demo</a></p>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="readmore" title="">tümünü gör →</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>