<div class="widget nopadding clearfix">
    <div class="panel panel-primary nopadding">
        <div class="panel-heading">
            <h3 class="panel-title">Yeni grup ekleyin!</h3>
        </div>
        <div class="panel-body">

            <form [formGroup]="form" (ngSubmit)="formSubmit(form.value)" class="tp-form">

                <div class="clearfix">
                    <mat-form-field class="tp-full-width">
                        <input type="text" placeholder="Seçiniz" aria-label="Number" matInput
                            formControlName="CategoryId" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let category of categories" [value]="category.id">
                                {{category.name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <div class="clearfix">
                    <mat-form-field class="tp-full-width">
                        <input formControlName="Name" matInput placeholder="Örneğin; Yazılım">
                    </mat-form-field>
                </div>
                <div class="form-group clearfix">
                    <div class="submit-button">
                        <button type="submit" class="btn btn-raised btn-info gr">
                            <i class="material-icons">add</i> Ekle
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>